body{
  background-image: url(/images/CatBackground.jpg);
  background-repeat: repeat;
  background-size: 450px;
  text-align: center;
}

*{
  font-family: Impact, sans-serif;
}

.container{
  position: relative;
  margin-top: 20px;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
  max-width: 480px;
}

.top-text{
  top: 20px;
}

.bottom-text{
  bottom: 20px;
}

.top-text,
.bottom-text{
  font-size: 24px;
  line-height: 24px;
  font-weight: bold;
  color: #EEF7FF;
  text-shadow: 1px 1px 2px #000;
  text-transform: uppercase;
  position: absolute;
  margin: 0;
  width: 100%;
}

.image{
  max-width: 400px;
  width: 100%;
}

.button-container{
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 16px;
  @media screen and (max-width: 470px) {
    width: 330px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
  }
}

.change-btn,
.download-btn,
.next-btn,
.prev-btn{
  background-color: #7AB2B2;
  color: #EEF7FF;
  border: none;
  border-radius: 14px;
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  padding: 16px 20px;
  cursor: pointer;
  transition: background-color .3s;
}

.change-btn:hover,
.download-btn:hover,
.next-btn:hover,
.prev-btn:hover{
  background-color: #4D869C;
}

.input-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  width: 580px;
  margin-left: auto;
  margin-right: auto;
}

.top-input,
.bottom-input{
  height: auto;
  width: 90%;
  border-radius: 5px;
  border: 2px solid #4D869C;
  background-color: #EEF7FF;
  font-size: 16px;
  line-height: 24px;
  padding-left: 8px;
}